<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="basics.multiSelectDropDown.DeSelectRequested"/>
      <class name="basics.multiSelectDropDown.PrintFirstSelectedOption"/>
      <class name="basics.multiSelectDropDown.TotalAvailableOption"/>
      <class name="basics.multiSelectDropDown.LastSelectedOpt"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
